@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PortfolioProject.Models.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
    int index = 0; // Counter for alternating rows
}

<h2 class="mb-4 alert alert-warning">Kategori Listesi</h2>

<table class="table table-bordered">
    <tr style="background-color:cornflowerblue; color:white;">
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Durumu</th>
        <th>Değiştir</th>
        <th>Güncelle</th>
    </tr>
    
    @foreach (var item in Model)
    {
        // saddlebrown
        // Alternate row colors
        var rowClass = (index % 2 == 0) ? "table-light" : "table-info";
        index++;

        <tr class="@rowClass">
            <td>@item.CategoryId</td>
            <td>@item.CatagoryName</td>
            <td>
                <span class="@(item.CategoryStatus == true ? "text-success" : "text-danger")">
                    @(item.CategoryStatus == true ? "Aktif" : "Pasif")
                </span>
            </td>
            @if (item.CategoryStatus == false)
            {
                <td><a href="/Category/ActiveCategory/@item.CategoryId" class="btn btn-info">Aktif Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/Category/PassiveCategory/@item.CategoryId" class="btn btn-warning">Pasif Olarak İşaretle</a></td>
            }
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("CategoryList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})
<br />
<a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori Ekle</a>
