@model PortfolioProject.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4 alert alert-success">Hakkımda Güncelle</h2>
<form method="post">
    @Html.HiddenFor(x => x.AboutId, new { @class = "form-control" })

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color: red;" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Detail, 5, 0, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Detail, "", new { @style = "color: red;" })
    <br />
    <label>Fotoğraf Bağlantısı</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control text-info" })
    @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @style = "color: red;" })
    <br />
    <button class="btn btn-success">Bilgileri Güncelle</button>
</form>

