@using PagedList
@using PagedList.Mvc
@model IPagedList<PortfolioProject.Models.Testimonial>
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/Admin/Index.cshtml";
    int index = 0;
}

<h2 class="mb-4 alert alert-warning">Referanslar Listesi</h2>

<table class="table table-bordered">
    <tr style="background-color:cornflowerblue; color:white;">
        <th>#</th>
        <th>İsim Soyisim</th>
        <th>Başlık</th>
        <th>Yorum</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        var rowClass = (index % 2 == 0) ? "table-light" : "table-info";
        index++;
        <tr class="@rowClass">
            <td>@item.TestimonialId</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.Comment</td>
            <td><img src="@item.ImageUrl" style="height:54px; width:76px;" /></td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("TestimonialList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})
<br />
<a href="/Testimonial/CreateTestimonial/" class="btn btn-info">Yeni Referans Ekle</a>


