@model PortfolioProject.Models.Experience
@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4 alert alert-info">Yeni Deneyim Ekle</h2>
<form method="post">
    <label>Şirket Adı</label>
    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CompanyName, "", new { @style = "color: red;" })
    <br />
    <label>Çalışma Tarihi</label>
    @Html.TextBoxFor(x => x.WorkDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WorkDate, "", new { @style = "color: red;" })
    <br />
    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color: red;" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color: red;" })
    <br />
    <button class="btn btn-info">Deneyimi Ekle</button>
</form>



