@model PortfolioProject.Models.Experience

@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4 alert alert-success">Deneyim Güncelle</h2>
<form method="post">
    @Html.HiddenFor(x => x.ExperienceId, new { @class = "form-control" })

    <label>Şirket Adı</label>
    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CompanyName, "", new { @style = "color: red;" })
    <br />
    <label>Çalışma Tarihi</label>
    @Html.TextBoxFor(x => x.WorkDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WorkDate, "", new { @style = "color: red;" })
    <br />
    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color: red;" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color: red;" })
    <br />
    <button class="btn btn-success">Deneyimi Güncelle</button>
</form>



