@using PagedList.Mvc
@using PagedList
@model IPagedList<PortfolioProject.Models.SocialMedia>
@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Views/Admin/Index.cshtml";
    int index = 0;
}

<h2 class="mb-4 alert alert-warning">Sosyal Medya Listesi</h2>

<table class="table table-bordered">
    <tr style="background-color:cornflowerblue; color:white;">
        <th>Id</th>
        <th>Sosyal Medya</th>
        <th>Icon</th>
        <th>Url</th>
        <th>Durum</th>
        <th>Değiştir</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        var rowClass = (index % 2 == 0) ? "table-light" : "table-info";
        index++;
        <tr class="@rowClass">
            <td>@item.SocialMediaId</td>
            <td>@item.Title</td>
            <td class="text-warning">@item.Icon</td>
            <td class="text-info">@item.SocialMediaUrl</td>
            <td>
                <span class="@(item.Status == true ? "text-success" : "text-danger")">
                    @(item.Status == true ? "Aktif" : "Pasif")
                </span>
            </td>
            @if (item.Status == false)
            {
                <td><a href="/SocialMedia/ActiveSocialMedia/@item.SocialMediaId" class="btn btn-info">Aktif Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/SocialMedia/PassiveSocialMedia/@item.SocialMediaId" class="btn btn-warning">Pasif Olarak İşaretle</a></td>
            }
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("SocialMediaList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})
<br />
<a href="/SocialMedia/CreateSocialMedia/" class="btn btn-info">Yeni Sosyal Medya Ekle</a>
<br /><br /><br /><br />

@Html.Action("SocialMediaIcon", "SocialMedia")