@model PortfolioProject.Models.SocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4 alert alert-success">Sosyal Medya Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.SocialMediaId)
    <label>Sosyal Medya Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color: red;" })
    <br />
    <label>Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control text-warning" })
    @Html.ValidationMessageFor(x => x.Icon, "", new { @style = "color: red;" })
    <br />
    <label>Sosyal Medya Bağlantısı</label>
    @Html.TextBoxFor(x => x.SocialMediaUrl, new { @class = "form-control text-info", placeholder = "https://instagram.com/username" })
    @Html.ValidationMessageFor(x => x.SocialMediaUrl, "", new { @style = "color: red;" })
    <br />
    <button class="btn btn-success">Sosyal Medyayı Güncelle</button>
</form>