@model PortfolioProject.Models.Work
@{
    ViewBag.Title = "UpdateWork";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Update</h2>

<form method="post">
    @Html.HiddenFor(x => x.WorkId)

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Görsel URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control text-info" })
    <br />
    <label>Github URL</label>
    @Html.TextBoxFor(x => x.GithubUrl, new { @class = "form-control text-info" })
    <br />
    <button class="btn btn-info">Projeyi Güncelle</button>
</form>