@using PagedList.Mvc;
@using PagedList;
@model IPagedList<PortfolioProject.Models.Education>
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
    int index = 0;
}

<h2 class="mb-4 alert alert-warning">Eğitimlerim Listesi</h2>

<table class="table table-bordered">
    <tr style="background-color:cornflowerblue; color:white;">
        <th>Id</th>
        <th>Kurum Adı</th>
        <th>Eğitim Tarihi</th>
        <th>Bölüm | Pozisyon</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        var rowClass = (index % 2 == 0) ? "table-light" : "table-info";
        index++;
        <tr class="@rowClass">

            <td>@item.EducationId</td>
            <td>@item.Title</td>
            <td>@item.EducationDate</td>
            <td>@item.Subtitle</td>
            <td>@item.Description</td>
            <td><a href="/Education/DeleteEducation/@item.EducationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/UpdateEducation/@item.EducationId" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("EducationList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})
<br />
<a href="/Education/CreateEducation/" class="btn btn-info">Yeni Eğitim Ekle</a>
