@model List<PortfolioProject.Models.Profile>
@{
    ViewBag.Title = "ProfileList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">ProfileList</h2>

@foreach (var item in Model)
{
    <table class="table table-bordered" style="width: 100%;">
        <tr>
            <td style="vertical-align: top; width: 200px;">
                <table class="table table-bordered" style="width: 100%; margin:20px 0;">
                    <tr>
                        <th>Görsel</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="@item.ImageUrl" alt="Profil Resmi" style="max-width: 300px; max-height: 300px; object-fit: cover;" />
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top;">
                <table class="table table-bordered" style="width: 100%; margin:30px 0;">
                    <tr>
                        <th>Başlık</th>
                    </tr>
                    <tr>
                        <td>@item.Title</td>
                    </tr>
                </table>

                <table class="table table-bordered" style="width: 100%; margin: 30px 0;">
                    <tr>
                        <th>Açıklama</th>
                    </tr>
                    <tr>
                        <td style="max-width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Description</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table table-bordered" style="width: 100%;">
        <tr>
            <th>Adres</th>
            <th style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Telefon Numarası</th>
            <th>E-Posta</th>
            <th>Github</th>
            <th>Lokasyon</th>
        </tr>
        <tr>
            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Address</td>
            <td>@item.PhoneNumber</td>
            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Email</td>
            <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Github</td>
            <td style="max-width: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.MapLocation</td>
        </tr>
    </table>

<a href="/Profile/UpdateProfile/@item.ProfileId" class="btn btn-info">Güncelle</a>
}