@using PagedList
@using PagedList.Mvc
@model IPagedList<PortfolioProject.Models.Service>
@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/Admin/Index.cshtml";
    int index = 0;
}

<h2 class="mb-4 alert alert-warning">Hizmetler Listesi</h2>

<table class="table table-bordered">
    <tr style="background-color:cornflowerblue; color:white;">
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Icon</th>
        <th>1. Yetenek</th>
        <th>2. Yetenek</th>
        <th>3. Yetenek</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        var rowClass = (index % 2 == 0) ? "table-light" : "table-info";
        index++;
        <tr class="@rowClass">
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="text-warning">@item.Icon</td>
            <td>@item.Experience1</td>
            <td>@item.Experience2</td>
            <td>@item.Experience3</td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ServiceList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})
<br />
<a href="/Service/CreateService/" class="btn btn-info">Yeni Hizmet Ekle</a>

